openapi: "3.0.0"
servers:
  - url: https://authcugrader.sittha.net/v1
  - url: https://apicugrader.sittha.net/v1
info:
  version: "2.0.0"
  title: "CUGrader"

paths:
  /student:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    post:
      summary: Insert student
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStudent"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete student
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteStudent"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Edit student info
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditStudent"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /student/{class_id}:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      summary: "list student by class"
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: Array of students
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/students"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /class:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    post:
      summary: Create class
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateClassBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: partially edit class information
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/EditClassBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /class/{class_id}:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        '200':
          description: get specific class info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClassObject"

  /classes/semesters:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: List of year-semester
    get:
      responses:
        "200":
          description: List year-semester
          content:
            application/json:
              schema:
                properties:
                  semesters:
                    type: array
                    items:
                      type: string
                      description: "year-semester"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /classes/classes/{year-semester}:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: List of class in year-semester
    get:
      parameters:
        - name: year-semester
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            type: string
            description: "year-semester"
      responses:
        "200":
          description: List of class object
          content:
            application/json:
              schema:
                properties:
                  assistant:
                    type: array
                    items:
                      $ref: "#/components/schemas/ClassObject"
                  study:
                    type: array
                    items:
                      $ref: "#/components/schemas/ClassObject"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /TA:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    post:
      summary: Add TA to class
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TAeditBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete TA from class
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TAeditBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /TA/{class_id}:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      summary: "list ta and instructor by class"
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: assistants array and instructor array
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Assistant"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /section/{class_id}:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: assistants array and instructor array
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sectionArray"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /group/{class_id}:
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: assistants array and instructor array
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupArray"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /picture/{picture_id}:
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: get
    get:
      summary: getting image with picture id
      parameters:
        - name: picture_id
          description: The unique identifier of the picture
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: image file
          content:
            image:
              schema:
                type: object
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /login:
    servers:
      - url: https://authcugrader.sittha.net/v1
    summary: redirect to google
    get:
      responses:
        "307":
          description: redirect to google
  /callback:
    summary: handle callback from google
    get:
      servers:
        - url: https://authcugrader.sittha.net/v1
      responses:
        "307":
          description: redirect back to frotnend
    post:
      servers:
        - url: https://apicugrader.sittha.net/v1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - "key"
                - "credential"
              properties:
                key:
                  type: string
                  description: key for decrypt data
                credential:
                  type: string
                  description: encrypted data
      responses:
        "200":
          description: get access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access-token:
                    type: string
                    description: JWT Token with "Bearer " prefix
  /test/callback:
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: for getting JWT Token custom email for testing
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - "credential"
              properties:
                key:
                  type: string
                  description: unused
                credential:
                  type: string
                  description: email end with @chula.ac.th or @student chula.ac.th
      responses:
        "200":
          description: get access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access-token:
                    type: string
                    description: JWT Token with "Bearer " prefix

# Begin phase 2 =======================================================================================>

  /near_due_date:
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    summary: get nearly unsubmit due date lab
    get: 
      responses:
        "200":
          description: json of labs array
          content:
            application/json:
              schema:
                type: object
                properties:
                  labs:
                    description: array of labs
                    type: array
                    items:
                      type: object
                      properties:
                        course_id:
                          type: integer
                        course_name:
                          type: string
                        lab_id:
                          type: integer
                        lab_name:
                          type: string
                        lab_due:
                          type: string
                          description: date time
                        lab_max_score:
                          type: integer
  /lab:
    summary: lab operation
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    post:
      summary: create lab
      requestBody:
        description: required all
        content:
          multipart/form-data:
            schema:
              properties:
                class_id:
                  $ref: "#/components/schemas/class_id"
                lab_data:
                  $ref: "#/components/schemas/lab_edit"
      responses:
        '200':
          description: A short description of the response
          content:
            application/json:
              schema:
                type: string
    patch:
      summary: edit lab
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                lab_id:
                  $ref: "#/components/schemas/lab_id"
                lab_data:
                  $ref: "#/components/schemas/lab_edit"
      responses:
        '200':
          description: A short description of the response
          content:
            application/json:
              schema:
                type: string

  /lab/{lab_id}:
    summary: get lab detail
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    get:
      summary: getting image with picture id
      parameters:
        - name: lab_id
          description: lab_id primary key
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/lab_id"
      responses:
        "200":
          description: lab detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  addfiles:
                    type: array
                    items:
                      $ref: "#/components/schemas/addfile_id"
                  question_ids:
                    type: array
                    items:
                      $ref: "#/components/schemas/question_id"
                  number:
                    type: number
                    description: lab number
                  name:
                    type: string
                    description: lab name
                  publish:
                    description: datetime format
                    type: string
                  due:
                    description: datetime format
                    type: string
                  language:
                    type: array
                    items:
                      type: string
                      description: language name
                      example: csharp, cpp, python, java
                  exam_mode:
                    type: boolean
                  close_on_due:
                    type: boolean
                  assign_to:
                    type: array
                    items:
                      type: string
                      description: group name
                  testcase:
                    type: integer
                    description: testcase_id primary key. null if multilanguage
                  secret_testcase:
                    type: integer
                    description: testcase_id primary key. null if multilanguage
                  
      
  /question/{question_id}:
    summary: get question detail
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    get:
      summary: getting image with picture id
      parameters:
        - name: question_id
          description: question_id primary key
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/question_id"
      responses:
        "200":
          description: question detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                    description: question number
                  name:
                    type: string
                    description: question name
                  description:
                    type: string
                    description: markdown format
                  predefine:
                    type: string
                    description: predefine function
                  max_score:
                    type: integer
                  testcase:
                    type: integer
                    description: testcase_id primary key. null if multilanguage
                  secret_testcase:
                    type: integer
                    description: testcase_id primary key. null if multilanguage
                  submission:
                    type: object
                    properties:
                      score:
                        type: integer
                      timestamp:
                        type: string
                        description: datetime
                      submission_id:
                        type:  integer
  /labs/{class_id}:
    summary: get question detail
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    get:
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: list lab in class
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    lab_id:
                      $ref: "#/components/schemas/lab_id"
                    lab_number:
                      type: integer
                    lab_name:
                      type: string
                    publish:
                      type: string
                      description: datetime
                    due:
                      type: string
                      description: datetime
                    score:
                      type: integer
                    max_score:
                      type: integer
                    status:
                      type: string
                      enum:
                        - "new"
                        - "partial_complete"
                        - "complete"
                        - "late"
                        - "due_soon"

  /addfile/{addfile_id}:
    summary: operation about additional files
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
      - name: addfile_id
        description: The unique identifier of the additional file
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/addfile_id"
    get:
      responses:
        "200":
          description: download file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    delete:
      responses:
        "200":
          description: delete success
              


  /language:
    summary: get system support language
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      responses:
        "200":
          description: get list of language that system support
          content:
            application/json:
              schema:
                type: object
                properties:
                  languages:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: language primary key
                        name:
                          type: string
                          description: language name
  /exam_pin/{lab_id}:
    summary: get exam pin
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    get:
      summary: get exam pin
      parameters:
        - name: lab_id
          description: lab_id primary key
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/lab_id"
      responses:
        "200":
          description: exam pin
          content:
            application/json:
              schema:
                type: object
                properties:
                  exam_pin:
                    type: integer
    
  /testcase/{testcase_id}:
    summary: get testcase
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    get:
      summary: get testcase
      parameters:
        - name: testcase_id
          description: testcase_id primary key
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/testcase_id"
      responses:
        "200":
          description: get testcase
          content:
            application/json:
              schema:
                type: object
                properties:
                  testcase:
                    type: string

  /multilang_testcase/{question_id}:
    summary: get multi language testcase
    servers:
      - url: https://apicugrader.sittha.net/v1
    parameters:
      - in: header
        name: Authentication
        description: "Bearer ..."
        schema:
          type: string
    get:
      summary: get multi language testcase
      parameters:
        - name: question_id
          description: question_id primary key
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/question_id"
      responses:
        "200":
          description: get multi language testcase
          content:
            application/json:
              schema:
                type: object
                properties:
                  testcase:
                    type: array
                    items:
                      type: object
                      properties:
                        input:
                          type: string
                        output:
                          type: string
                  secret_testcase:
                    description: null if student
                    type: array
                    items:
                      properties:
                          input:
                            type: string
                          output:
                            type: string

                    



components:
  schemas:
    addfile_id:
      description: addfile_id(additional files) primary key
      type: integer
    question_id:
      description: question_id primary key
      type: integer
    lab_id:
      description: lab_id primary key
      type: integer
    testcase_id:
      description: testcase_id primary key
      type: integer
    class_id:
      description: class_id primary key
      type: integer
    sectionArray:
      type: object
      properties:
        sections:
          type: array
          items:
            type: integer
            description: section number
    groupArray:
      type: array
      items:
        type: string
        description: group name
    TAInfo:
      type: object
      properties:
        name:
          type: string
        picture:
          description: url
          type: string
        leader:
          type: boolean
        email:
          type: string
      required:
        - "name"
        - "picture"
        - "leader"
        - "email"
    InstructorInfo:
      type: object
      properties:
        name:
          type: string
        picture:
          description: url
          type: string
        email:
          type: string
      required:
        - "name"
        - "picture"
        - "email"
    Assistant:
      type: object
      properties:
        assistant:
          type: array
          items:
            $ref: "#/components/schemas/TAInfo"
        instructor:
          type: array
          items:
            $ref: "#/components/schemas/InstructorInfo"
      required:
        - "assistant"
        - "instructor"
    studentInfo:
      type: object
      properties:
        student_id:
          type: string
        name:
          type: string
        section:
          type: integer
        group:
          type: string
        picture:
          description: url
          type: string
        score:
          type: number
        max_score:
          type: number
        withdrawal:
          type: boolean
      required:
        - "student_id"
        - "name"
        - "section"
        - "group"
        - "picture"
        - "score"
        - "max_score"
        - "withdrawal"
    students:
      type: object
      required:
        - "students"
      properties:
        students:
          description: List of student
          type: array
          items:
            $ref: "#/components/schemas/studentInfo"
    CreateStudent:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        email:
          description: student's email
          type: string
        section:
          description: section of student
          type: integer
        group:
          description: group of student
          type: string
      required:
        - "class_id"
        - "email"
        - "section"
    EditStudent:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        student_id:
          description: student id primary key
          type: string
        section:
          description: section of student
          type: integer
        group:
          description: group of student
          type: string
        withdrawal:
          description: is student withdrawn
          type: boolean
      required:
        - "class_id"
        - "student_id"
    DeleteStudent:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        student_id:
          description: student id primary key
          type: string
      required:
        - "class_id"
        - "student_id"
    TAeditBody:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        email:
          description: TA's email
          type: string
      required:
        - "class_id"
        - "email"
    ClassObject:
      type: object
      properties:
        class_id:
          description: class_id primary key
          type: integer
        course_id:
          description: id of corse from reg
          type: integer
        course_name:
          type: string
        image:
          type: string
      required:
        - class_id
        - course_id
        - course_name
        - image
    SemesterClasses:
      type: object
      properties:
        assistant:
          type: array
          items:
            $ref: "#/components/schemas/ClassObject"
        study:
          type: array
          items:
            $ref: "#/components/schemas/ClassObject"
        semester:
          type: string
          description: semester of classes
      required:
        - assistant
        - study
        - semester
    CreateClassBody:
      type: object
      required:
        - "name"
        - "semester"
        - "course_id"
      properties:
        course_id:
          description: course id according to reg cu
          type: integer
        name:
          description: Name of class
          type: string
        semester:
          description: Semester of class
          type: string
        image:
          description: Class image file
          type: string
          format: binary
        students:
          description: Student csv file
          type: string
          format: binary

    EditClassBody:
      type: object
      required:
        - "class_id"
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        course_id:
          description: course id according to reg cu
          type: integer
        name:
          description: Name of class
          type: string
        semester:
          description: Semester of class
          type: string
        image:
          description: Class image file
          type: string
          format: binary
        students:
          description: Student csv file
          type: string
          format: binary
    Error:
      type: object
      required:
        - message
      properties:
        message:
          description: A human readable error message
          type: string
    lab_edit:
      type: object
      properties:
        number:
          type: integer
        name:
          type: string
        publish:
          type: string
          description: datetime
        due:
          type: string
          description: datetime
        close_on_due:
          type: boolean
        exam_mode:
          type: boolean
        show_score_on_lock:
          type: boolean
        assign_to:
          $ref: "#/components/schemas/groupArray"
        exam_pin:
          type: integer
        testcase:
          type: string
        secret_testcase:
          type: string
        questions:
          type: array
          items:
            type: object
            properties:
              number:
                type: integer
              name:
                type: string
              description:
                type: string
              answer:
                type: string
              predefine:
                type: string
              score:
                type: integer
              testcase:
                type: string
              secret_testcase:
                type: string
              multilang_testcase:
                type: array
                items:
                  type: object
                  properties:
                    input:
                      type: string
                    output:
                      type: string
              multilang_secret_testcase:
                type: array
                items:
                  type: object
                  properties:
                    input:
                      type: string
                    output:
                      type: string
        addfiles:
          description: file attachment
          type: array
          items:
            type: string
            format: binary

