openapi: "3.0.0"
servers:
  - url: https://authcugrader.sittha.net/v1
  - url: https://apicugrader.sittha.net/v1
info:
  version: "2.0.0"
  title: "CUGrader"

paths:
  /student:
    servers:
      - url: https://apicugrader.sittha.net/v1
    post:
      summary: Insert student
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStudent"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete student
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteStudent"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Edit student info
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditStudent"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /student/{class_id}:
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      summary: "list student by class"
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: Array of students
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/students"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /class:
    servers:
      - url: https://apicugrader.sittha.net/v1
    post:
      summary: Create class
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string

      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreateClassBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: partially edit class information
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/EditClassBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /classes/semesters:
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: List of year-semester
    get:
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
      responses:
        "200":
          description: List year-semester
          content:
            application/json:
              schema:
                properties:
                  semesters:
                    type: array
                    items:
                      type: string
                      description: "year-semester"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /classes/classes/{year-semester}:
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: List of class in year-semester
    get:
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
        - name: year-semester
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            type: string
            description: "year-semester"
      responses:
        "200":
          description: List of class object
          content:
            application/json:
              schema:
                properties:
                  assistant:
                    type: array
                    items:
                      $ref: "#/components/schemas/ClassObject"
                  study:
                    type: array
                    items:
                      $ref: "#/components/schemas/ClassObject"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /TA:
    servers:
      - url: https://apicugrader.sittha.net/v1
    post:
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
      summary: Add TA to class
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TAeditBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      summary: Delete TA from class
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TAeditBody"
      responses:
        "200":
          description: Empty JSON
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Request body not met requirement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /TA/{class_id}:
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      summary: "list ta and instructor by class"
      parameters:
        - in: header
          name: Authentication
          description: "Bearer ..."
          schema:
            type: string
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: assistants array and instructor array
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Assistant"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /section/{class_id}:
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: assistants array and instructor array
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sectionArray"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /group/{class_id}:
    servers:
      - url: https://apicugrader.sittha.net/v1
    get:
      parameters:
        - name: class_id
          description: The unique identifier of the class
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/class_id"
      responses:
        "200":
          description: assistants array and instructor array
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/groupArray"
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /picutre/{picture_id}:
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: get
    get:
      summary: getting image with picture id
      parameters:
        - name: picture_id
          description: The unique identifier of the picture
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: image file
          content:
            image:
              schema:
                type: object
        "500":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /login:
    servers:
      - url: https://authcugrader.sittha.net/v1
    summary: redirect to google
    get:
      responses:
        "307":
          description: redirect to google
  /callback:
    summary: handle callback from google
    get:
      servers:
        - url: https://authcugrader.sittha.net/v1
      responses:
        "307":
          description: redirect back to frotnend
    post:
      servers:
        - url: https://apicugrader.sittha.net/v1
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - "key"
                - "credential"
              properties:
                key:
                  type: string
                  description: key for decrypt data
                credential:
                  type: string
                  description: encrypted data
      responses:
        "200":
          description: get access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access-token:
                    type: string
                    description: JWT Token with "Bearer " prefix
  /test/callback:
    servers:
      - url: https://apicugrader.sittha.net/v1
    summary: for getting JWT Token custom email for testing
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - "credential"
              properties:
                key:
                  type: string
                  description: unused
                credential:
                  type: string
                  description: email end with @chula.ac.th or @student chula.ac.th
      responses:
        "200":
          description: get access token
          content:
            application/json:
              schema:
                type: object
                properties:
                  access-token:
                    type: string
                    description: JWT Token with "Bearer " prefix

components:
  schemas:
    class_id:
      description: class_id primary key
      type: integer
    sectionArray:
      type: object
      properties:
        sections:
          type: array
          items:
            type: integer
            description: section number
    groupArray:
      type: object
      properties:
        groups:
          type: array
          items:
            type: string
            description: group name
    TAInfo:
      type: object
      properties:
        name:
          type: string
        picture:
          description: url
          type: string
        leader:
          type: boolean
      required:
        - "name"
        - "picture"
        - "leader"
    InstructorInfo:
      type: object
      properties:
        name:
          type: string
        picture:
          description: url
          type: string
      required:
        - "name"
        - "picture"
    Assistant:
      type: object
      properties:
        assistant:
          type: array
          items:
            $ref: "#/components/schemas/TAInfo"
        instructor:
          type: array
          items:
            $ref: "#/components/schemas/InstructorInfo"
      required:
        - "assistant"
        - "instructor"
    studentInfo:
      type: object
      properties:
        student_id:
          type: string
        name:
          type: string
        section:
          type: integer
        group:
          type: string
        picture:
          description: url
          type: string
        score:
          type: number
        max_score:
          type: number
        withdrawal:
          type: boolean
      required:
        - "student_id"
        - "name"
        - "section"
        - "group"
        - "picture"
        - "score"
        - "max_score"
        - "withdrawal"
    students:
      type: object
      required:
        - "students"
      properties:
        students:
          description: List of student
          type: array
          items:
            $ref: "#/components/schemas/studentInfo"
    CreateStudent:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        email:
          description: student's email
          type: string
        section:
          description: section of student
          type: integer
        group:
          description: group of student
          type: string
      required:
        - "class_id"
        - "email"
        - "section"
    EditStudent:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        student_id:
          description: student id primary key
          type: string
        section:
          description: section of student
          type: integer
        group:
          description: group of student
          type: string
        withdrawal:
          description: is student withdrawn
          type: boolean
      required:
        - "class_id"
        - "student_id"
    DeleteStudent:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        student_id:
          description: student id primary key
          type: string
      required:
        - "class_id"
        - "student_id"
    TAeditBody:
      type: object
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        email:
          description: TA's email
          type: string
      required:
        - "id"
        - "email"
    ClassObject:
      type: object
      properties:
        class_id:
          description: class_id primary key
          type: integer
        course_id:
          description: id of corse from reg
          type: integer
        course_name:
          type: string
        image:
          type: string
      required:
        - class_id
        - course_id
        - course_name
        - image
    SemesterClasses:
      type: object
      properties:
        assistant:
          type: array
          items:
            $ref: "#/components/schemas/ClassObject"
        study:
          type: array
          items:
            $ref: "#/components/schemas/ClassObject"
        semester:
          type: string
          description: semester of classes
      required:
        - assistant
        - study
        - semester
    ClassList:
      type: object
      required:
        - "classes"
      properties:
        classes:
          description: List of semesterClasses
          type: array
          items:
            $ref: "#/components/schemas/SemesterClasses"
    UserID:
      description: User indentifier
      type: integer
    CreateClassBody:
      type: object
      required:
        - "name"
        - "semester"
        - "course_id"
      properties:
        course_id:
          description: course id according to reg cu
          type: integer
        name:
          description: Name of class
          type: string
        semester:
          description: Semester of class
          type: string
        image:
          description: Class image file
          type: string
          format: binary
        students:
          description: Student csv file
          type: string
          format: binary

    EditClassBody:
      type: object
      required:
        - "class_id"
      properties:
        class_id:
          $ref: "#/components/schemas/class_id"
        course_id:
          description: course id according to reg cu
          type: integer
        name:
          description: Name of class
          type: string
        semester:
          description: Semester of class
          type: string
        image:
          description: Class image file
          type: string
          format: binary
        students:
          description: Student csv file
          type: string
          format: binary
    Error:
      type: object
      required:
        - message
      properties:
        message:
          description: A human readable error message
          type: string
