PORT=5000
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=yugabyte
DB_PASSWORD=yugabyte
DB_NAME=cugrader
MONGO_USER=root
MONGO_PASSWORD=12345678
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_NAME=cugrader
SERVICE_ENV=developmenะ
JWT_KEY=super-secret-key
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIICWQIBAAKBgFjsbvqefRA9HaKfen+I9rZyocdGtt/i2hG8APduBCtOouSy9Btf
c3DjQO+Qeo4HAOQ0RuNkPMW46ol1aWk/hBe9Xl8ac8QX3wyO5+3mPYx16xeHIcop
Mz8bBdT7LGCmGSJ0uvQga/LSnNr4Hr5gf/7xvzZDbwvp2jxI26D6r1RbAgMBAAEC
gYBLC7aZYdowMzPog+jw6xkzXsjzkdVSW3QolV7HcpyoI+RLWE+1LjgR5GhwBaG4
bWauMQRGcdjsESQ2v9UnUshZ9VMkND35ATsQhZn1BZqAdqngy0psSc2c5wXb1T40
3xd7yRkxZAZZ4bolW+uiEPz3v93VxbX2nvCEA/4abAvmAQJBAKH43Ke56ItMeERN
3yjL9ZNca9CiaCu/T2YlIQzb7q6SQXkfoecwlzmsLqGTdJaKPhu4kSHPOyhLY0YD
2aGB+1sCQQCMi55XtCnSSY9/bzLzfR+Xw1wlwLnQybRf/cxsuDKyr1eU9tuKyIiL
eb8+zxivvAgtMB0jPHnlty0n18gKvFsBAj9zJnm4xHKOlc7qwHHmjxoHqaz8pnlo
oJnSBJN6kOEfOttRQSvZMLJSThbYx/wbCi0diBml764e93mcTSBrsf0CQBdJjwwD
KybPz3oTB8M2iUSRNzR+MYu50CxTlkqxXp0i1oU1Pf1J6u4JVznmALYllsk9/qX3
AE+iwVWnuFqnCQECQHsWm2skThMYRb5NYxepPCmZrqmTotJwxSAQraqVfTPHPCP7
JkShWoXJPNpYvTZP7XlxKKFUhGWUvbZ7l9z9WZc=
-----END RSA PRIVATE KEY-----"